body{
    background-color: rgba(87, 45, 12, 1);
    overflow-x: hidden;
    max-width: 100%;
}

h2{
    position: relative;
    color: white;
    font-weight: bolder;
    margin-left: 90px;
    top: 10px;
}

img#books{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -60px;
}


nav#menu ul{
display: block;
list-style: none;
}


nav#menu li{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    right: -1100px;
    top: 35px;   

}

nav#menu li a{
    text-decoration: none;
    color: white;
}

nav#menu li a:hover{
    transition: 1s;
    text-decoration: underline;
    color: yellow;
}


h1 {
    text-align: center;
    color: grey;
  }
  .search-container {
    max-width: 400px;
    margin: 0vh auto;
    padding: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #646363;
    border-radius: 8px;
    outline: none;
  }
  .card-products-container {
    margin: 10vh auto;
    text-align: center;
  }
  
  .card-products {
   background: rgba(255,255,255,0.05);

    border-radius: 20px;

    padding: 20px;

    text-align: center;

    transition: 0.3s;

    backdrop-filter: blur(5px);

    box-shadow: 0 0 20px rgba(0,0,0,0.3);

  }

  .card-products:hover{

    transform: translateY(-10px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

}
  
  .card-products img {
       width: 180px;

    height: 270px;

    object-fit: cover;

    border-radius: 10px;

  }
  
.card-products h3:hover{
    color: white;
    margin-top: 15px;
    font-size: 1.5rem;
    text-decoration: underline;

}



  
  .emoji-buttons-container {
    text-align: center;
  }


  /* parte de estilizar o botão dos nomes dos autores */
  .emoji-button {
     background-color: rgb(100, 109, 208);
     border-radius: 10px;
    color: black;
    font-size: 30px;
    border: none;
    
    padding: 10px;
    margin: 10px;
  }
  
  /* Hover effect */
  .emoji-button:hover {
    background-color: #ffffff;
    text-decoration: underline;
    cursor:pointer;
  }

  #shopContent{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 50px 180px;
      width: 90%;
    
    margin-top: 40px;
    margin-left: 80px;
  }
